@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap&subset=latin-ext');
* {
    font-family: 'Montserrat', sans-serif;
}

html {
    background-color: rgb(253, 223, 228);
  }
  
  body {
    background-color: white;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    font-family: sans-serif;
  }

  h1 {
      text-align: center;
  }
  
  h1#sitetitle {
    color: #b6005b;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  h2.recipepart {
    background-color: #f5f5f5;
    border: 2px solid #dcdcdc;
    border-left: 15px solid grey;
    padding: 10px 0px 10px 10px;
  }
  h2.ingredients {
    border-left-color: #FF7E7A;
  }
  h2.method {
    border-left-color: #E86FA0;
  }
  h2.variations {
    border-left-color: #FF87F3;
  }
  /* * {
    border: 1px solid black;
  }
     */

     a {
        color: #2f4f4f;
        text-decoration: none;
        background-color: #ffe4e1;
        padding: 2px 4px;
        border-bottom: 2px dashed #ffb6c1;
      }

      li {
        margin-bottom: 10px;
      }

      a:visited {
        color: #778899;
      }
      
      a:focus {
        border: 3px dashed #ffb6c1;
      }
      
      
      a:hover {
        border-bottom: 3px solid #ffb6c1;
      }
      
      a:active {
        color: purple;
        border: 3px solid #ffb6c1;
      }
      body {
        margin: 20px auto;
        max-width: 800px;
        background-color: rgb(255, 255, 255);
        padding: 20px 0px;
        font-family: sans-serif;
      }
      div.container {
        padding: 0px 20px;
      }
      
      span.temp {
        font-weight: bold;
        border: 2px solid rgb(212, 44, 44);
        background-color: rgb(255, 246, 247);
        border-radius: 15px;
        padding: 5px 8px 4px 8px;
      }
      
      